/* project-area */
#project{
    margin-top:50px;
}
.project-area{
    height:auto;
    max-width:1000px;
    margin:0 auto;
}
/* project-title */
.project-title{
    font-size:45px;
    font-weight:bold;
    text-align:center;
    letter-spacing:3px;
}
.project-title::after{
    content:"";
    display:block;
    width:100px;
    height:10px;
    margin:0 auto;
    background-image:linear-gradient(to right,palevioletred,navajowhite);
}
/* project-area > filter > list */
.project-area > .filter > .list{
    text-align:center;
}
.project-area > .filter > .list > .list-item{
    display:inline-block;
    font-weight:bold;
    padding:0 20px;
    font-size:16px;
    cursor:pointer;
}
.project-area > .filter > .list > .list-item:hover,
.project-area > .filter > .list > .list-item.active{
    color:royalblue;
}
/* project-area > project-container */
.project-area > .project-container{
    padding-top:50px;
}
/* project-area > project-container > filter-item */
.project-area > .project-container > .filter-item{
    display:inline-block;
    width:calc(100% - 40px);
    margin:20px;
    text-align:center;
}
@media(min-width:992px){
    .project-area > .project-container > .filter-item{
        width:calc(50% - 40px);
    }
}
.project-area > .project-container > .filter-item.show {
    display:inline-block;
}
.project-area > .project-container > .filter-item > .image{
    position:relative;
    width:100%;
    max-height:300px;
}
@media(min-width:992px){
    .project-area > .project-container > .filter-item > .image{
        height:300px;
        width:100%;
    }
}
.project-area > .project-container > .filter-item > .image > .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition: all 0.3s ease;
    cursor : pointer;


}
.project-area > .project-container > .filter-item > .image:hover > .overlay{
    background-image:linear-gradient(to right,navajowhite,palevioletred);
    opacity:0.9;
}
.project-area > .project-container > .filter-item > .image:hover > .overlay > i{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:48px;
}
.project-area > .project-container > .filter-item > .image > img{
    border-radius: 5px;
    height:300px;
    width:100%;
}
.project-area > .project-container > .filter-item > .main{
    font-size:24px;
    font-weight:bold;
    padding:10px 0;
}
.project-area > .project-container > .filter-item > .sub {
    font-size:16px;
    color:#777;
}
.project-area > .project-container > .filter-item > .text{
    display:none;
    color:white;
}
.pdf-text{
    color:#bbb;
    font-size:16px;
}
.pdf-text:hover{
    color:rosybrown;
}
/* portfolioModal */
#portfolioModal{
    display:none;
    position:fixed;
    z-index : 100;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.9);
    text-align:center;
    overflow: hidden;
}
/* portfolioModal > close */
#portfolioModal > .close {
    display:block;
    text-align:right;
    color:#f1f1f1;
    font-size:40px;
    font-weight:bold;
    transition:0.3s;
    cursor:pointer;
    padding:0 20px;
}
#portfolioModal > .close:hover,
#portfolioModal > .close:focus{
    color:#bbb;
}
/* portfolioModal > modal-container */
#portfolioModal > .modal-container{
    width:100%;
    height:auto;
}
#portfolioModal > .modal-container > img{
    width:calc(60% - 40px);
    padding:20px;
    border-radius:30px;
    height:300px;
}
@media(min-width:992px){
    #portfolioModal > .modal-container > img {
        max-width:500px;
        height:300px;
    }
}
#portfolioModal > .modal-container > .modal-main{
    position:relative;
    font-size:24px;
    font-weight:bold;
    color:white;
    padding:10px 0;
}
#portfolioModal > .modal-container > .modal-sub{
    font-size:20px;
    color:white;
    padding:10px 0;

}
#portfolioModal > .modal-container > .modal-text{
    font-size:16px;
    color:#bbb;
}
